doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="style.css")
    style(src="style.css")
    title Pugテスト
  body
    include _includes/_header
    main.main
      h1 メインタイトル
      h2.content_ttl メインタイトル
    h3.content_detail 俺は最強
    h4 俺も最強sssdddaaa
    ul
      li aaa
      li uuu
      li iii
      li uuu

    include _includes/_footer

